<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center bg-success text-white rounded-pill">Borrowed Books</h1>
            <h2>Total Borrowed Books  :{{length}}</h2>
            <ng-container *ngFor="let course of courses">
                <div class="course-container mb-4">
                    <div class="course-card border p-3" style="width: 25rem;">
                        <div>
                            <img [src]="course.image" style="width:220px; height:140px;">
                        </div>
                        <div class="course-name">
                            <h4>{{ course.name}}</h4>
                        </div>
                        <div class="course-description">
                            <p>{{course.description.slice(0, 80)}}...</p>
                        </div>
                        <div class="details">
                            <div class="course-type" [ngStyle]="{color: course.type === 'Free' ? 'Green' : 'Red'}">
                                {{course.type}}</div>
                            <div class="course-price"><b>Price:</b> ${{course.price}}</div>
                        </div>
                        <div class="course-buttons">
                            <button class="btn btn-warning" (click)="addtocart(course)">Return</button>
                           
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <button class="btn btn-info px-5 py-2" routerLink="/dash">Back to main menu</button>

</div>